
<h2>All Garments</h2>

<ul>
    <% @garments.each do |item| %>
        <li>
            <%= link_to (cl_image_tag item.image, alt: item.name, class: 'garment_image_index'),  garment_path(item.id)%>
            <br>

            <%= link_to item.name, garment_path(item.id) %>
        </li>
        <br>

    <% end %>

</ul>


