



<div class= "index_first_link">
    <%= link_to 'Add Garments', new_garment_path %>
</div>

<div class= "index_title">
    <h2>All Garments</h2>
</div>


<div class= "garment_index_line">
    <% @garments.each do |item| %>
        <div class= "garment_index_block">
            <%= link_to (cl_image_tag item.image, alt: item.name, class: 'garment_image_index'),  garment_path(item.id)%>
            <br>

            <%= link_to item.name, garment_path(item.id) %>
        </div>

    <% end %>
</div>





