
<h3><strong>Search Results of Garments:</strong></h3>

<% @match_garments.each do |result| %>
    <%= link_to result.name, garment_path(result.id) %>
    <br>
<% end %>

<hr>

<h3><strong>Search Results of brands:</strong></h3>

<% @match_brands.each do |result| %>
    <%= link_to result.name, brand_path(result.id) %>
    <br>
<% end %>


<hr>

<h3><strong>Garment Results of occasions:</strong></h3>

<% @match_garment_occasions.each do |result| %>
    <%= link_to result.name, garment_path(result.id) %>
    <br>
<% end %>



