
<div class= "index_first_link">
<% if @current_user.present? %>
    <%= link_to 'Add your Combo', new_collocation_path %>
<% end %>
</div>


<div class= "index_title">
<h2>All Combos</h2>
</div>


<div class= "collocation_index_line">
    <% @collocations.each do |item| %>
        <div class= "collocation_index_block">
            <%= link_to item.title, collocation_path(item.id) %>

            (by <%= link_to item.user.name, user_path(item.user.id) %>)
        </div>
    <% end %>
</div>


