
<h2>All Matches</h2>

<ul>
    <% @collocations.each do |item| %>
        <li>
            <%= link_to item.title, collocation_path(item.id) %>

            (<%= link_to item.user.name, user_path(item.user.id) %>)
        </li>
    <% end %>


</ul>


