
<h2>Edit Your Account</h2>

<% if @user.errors.any? %>
    <strong>Please correct the following errors: </strong>
    <ul>
        <% @user.errors.full_messages.each do |e| %>
            <li><%= e %></li>
        <% end %>
    </ul>

<% end %>


<% form_with model: @user, local: true do |f| %>

    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
    <br><br>

    <%= f.submit %>


<% end %>



