
<div class= "user_index_title">
<h2>All Users</h2>
</div>

<div class= "user_index_line">
    <% @users.each do |item| %>
        <div class= "user_index_block">
            <%= link_to item.name, user_path(item.id) %>
        </div>
    <% end %>
</div>
