
<div class= "home_image">
    <div class= "home_logo">
    <h3>
        No matter how you feel 
        <br>
        Get Up, Dress Up, Show Up 
        <br>
        and Never Give Up
    </h3>
    </div>
</div>




