
/* index.html.erb */
.collocation_index_line{
    text-align: center;
    margin-top: 40px;
}

.collocation_index_block{
    margin: 20px;
}

/* show.html.erb */
.collocation_show_name{
    text-align: center;
}

.collocation_show_block{
    text-align: center;
    margin: 20px;
}

.collocation_image{
    width: 25%;
}

.collocation_show_item{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.collocation_show_image_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.collocation_show_image{
    width: 20%;
    text-align: center;
    margin: 10px 10px;
}

.garment_iamge_collocation{
    width: 70%;
}


/* _form.html.erb */
/* new.html.erb */
/* edit.html.erb */
.collocation_new_title{
    text-align: center;
    margin: 30px;
}

.collocation_form_block{
    text-align: center;
    margin: 25px;
}

.collocation_form_item{
    text-align: center;
    margin-top: 50px;
}

.collocation_form_line{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}


.collocation_form_image{
    width: 20%;
    height: 30%;
    text-align: center;
    margin: 40px 10px;
}

.garment_image_collocation_form
{
    width: 50%;
}




