body{
    background-color: bisque;
}

.garment_image{
    width: 30%;
}

.garment_image_brand,
.garment_image_occasion,
.garment_iamge_collocation
{
    width: 20%;
}

.garment_image_index,
.garment_image_collocation_form
{
    width: 8%;
}

.collocation_image{
    width: 35%;
}





.field_with_errors input{
    border: 1px solid red;
}

