/* Remove padding and margin */ 
*  
    { 
    margin: 0; 
    padding: 0; 
    /* border: 0;  */
    font-family: 'Circular', Helvetica, Arial, sans-serif;
}


div{
    /* border: 1px solid red; */
}


body{
    background-color: #ffffff;
}

a{
    text-decoration: none;
}


.garment_image{
    width: 30%;
}

.garment_image_brand,
.garment_image_occasion,
.garment_iamge_collocation
{
    width: 20%;
}


.garment_image_collocation_form
{
    width: 8%;
}

.collocation_image{
    width: 35%;
}





.field_with_errors input{
    border: 1px solid red;
}

