
.user_index_title{
    margin-top: 30px;
    text-align: center;
}


.user_index_line{
    text-align: center;
    margin-top: 40px;
}

.user_index_block{
    margin: 20px;
}

.user_show_block{
    text-align: center;
    margin-top: 35px;
}


