
/* index.html.erb */
.user_index_title{
    margin-top: 30px;
    text-align: center;
}


.user_index_line{
    text-align: center;
    margin-top: 40px;
}

.user_index_block{
    margin: 20px;
}

/* show.html.erb */
.user_show_block{
    text-align: center;
    margin-top: 35px;
}


/* edit.html.erb */
.user_new_title{
    text-align: center;
    margin: 30px;
}

.user_form_block{
    text-align: center;
    margin: 25px;
}

/* new.html.erb */


