
<%= link_to 'Add Occasions', new_occasion_path %>

<h2>All Occasions</h2>

<ul>

    <% @occasions.each do |item| %>
        <li>
            <%= link_to item.title, occasion_path(item.id) %>        
        </li>
    <% end %>

</ul>
